body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  background-color: #121212;
  color: #ffffff;
}

h1, h2 {
  color: #ffffff;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #1e1e1e;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.sidebar a:hover {
  background-color: #333333;

}

.sidebar a:active{
  background-color: lavender;
  color: #1e1e1e;
}

.topbar {
  width: 100%;
  background-color: #1e1e1e;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  flex: 1;
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  height: 100vh;
}

.chart-container {
  background-color: #292929;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.chart-title {
  margin: 0 0 20px 0;
}

.pie-container{
 
  width: 60% !important;
  height: 60% !important;
  margin-left: 18% !important;

}



@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .container {
    flex-direction: column;
  }
  .topbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-content {
    margin-left: 0;
  }
}
